.email-me {
  width: 168px;
  height: 44px;
  position: absolute;
  margin: 0 !important;
  bottom: 358.2px;
  left: 638px;
  display: inline-block;
  z-index: 2;
}
.back-to-icon {
  height: 63px;
  width: 71px;
  position: relative;
  object-fit: cover;
}
.social-links {
  align-self: stretch;
  height: 82px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.back-to-parent,
.social-links-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.social-links-wrapper {
  width: 435px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.back-to-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.line-icon {
  height: 1.2px;
  width: 121px;
  position: relative;
  object-fit: contain;
}
.social-links-label-inner {
  width: 495px;
  height: 1.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.background,
.social-links-label {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.social-links-label {
  width: 912px;
  flex-direction: column;
  align-items: flex-end;
  gap: 1px;
}
.background {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-mclaren);
}
.text {
  height: 139.9px;
  width: 0;
  position: absolute;
  margin: 0 !important;
  top: -14.82px;
  left: 288.2px;
  white-space: pre-wrap;
  display: inline-block;
  transform: rotate(2.3deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.instagram-circle-icon,
.text1 {
  position: relative;
  cursor: pointer;
}
.text1 {
  height: 88px;
  width: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.instagram-circle-icon {
  width: 121px;
  height: 123px;
  object-fit: cover;
}
.instagram-circle-wrapper,
.instagram-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instagram-circle-wrapper {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-2xl) 0 0;
}
.instagram-icon {
  height: 144px;
  flex-direction: row;
  padding: 0 var(--padding-6xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-6xs);
}
.github-icon,
.linkedin-icon {
  height: 123px;
  position: relative;
  object-fit: cover;
}
.linkedin-icon {
  width: 120px;
  cursor: pointer;
}
.github-icon {
  width: 121px;
}
.instagram-icon-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.send-button,
.text-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.text-parent {
  flex: 1;
  position: relative;
}
.send-button {
  align-self: stretch;
  padding: 0 0 0 var(--padding-mid);
  box-sizing: border-box;
}
.frame-child6 {
  height: 64px;
  flex: 1;
  position: relative;
  background-color: var(--color-white);
  min-width: 370px;
  max-width: 100%;
  z-index: 1;
}
.frame-child7 {
  height: 64px;
  width: 162px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 32px);
  left: -43px;
  border-radius: 11px;
  background-color: var(--color-orangered);
  cursor: pointer;
}
.send-email-icon {
  height: 56px;
  width: 78px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.rectangle-group {
  flex: 1;
  flex-direction: row;
  position: relative;
}
.divider,
.rectangle-group,
.rectangle-parent,
.send-email-btn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.send-email-btn {
  height: 60px;
  flex-direction: column;
  padding: 4px 0 0;
  box-sizing: border-box;
}
.divider,
.rectangle-parent {
  max-width: 100%;
}
.rectangle-parent {
  width: 679px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 31px;
}
.divider {
  width: 703px;
  flex-direction: column;
  gap: 150px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
}
.frame-child8 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.binance,
.email-me-parent {
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.email-me-parent {
  margin-left: -24px;
  width: 1578px;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-71xl) 446px 347.20000000000005px 125px;
  box-sizing: border-box;
  gap: 165.5999999999999px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: #9c9c9c;
  font-family: var(--font-abel);
}
.binance {
  width: 100%;
  height: 1010px;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .email-me-parent {
    gap: 83px 165.6px;
    padding-left: 62px;
    padding-right: 223px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .email-me {
    font-size: var(--font-size-7xl);
  }
  .text,
  .text1 {
    font-size: var(--font-size-32xl);
  }
  .frame-child6 {
    min-width: 100%;
  }
  .email-me-parent {
    padding-top: 58px;
    padding-bottom: 226px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .instagram-icon-parent {
    flex-wrap: wrap;
  }
  .rectangle-parent {
    gap: 15px;
  }
  .divider {
    gap: 75px 150px;
  }
  .email-me-parent {
    gap: 41px 165.6px;
    padding-left: 31px;
    padding-right: var(--padding-92xl);
    box-sizing: border-box;
  }
  .binance {
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .email-me {
    font-size: var(--font-size-lgi);
  }
  .text,
  .text1 {
    font-size: var(--font-size-19xl);
  }
  .divider {
    gap: 37px 150px;
  }
  .email-me-parent {
    gap: 21px 165.6px;
    padding-top: 38px;
    padding-right: var(--padding-xl);
    padding-bottom: 147px;
    box-sizing: border-box;
  }
}
